*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
img{
    width: 50%;
}

.info-valid{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

input{
    border: none;
}
.controls {
width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;

}

#btn , button{
    margin-left: 40%;
    transform: translateX(-50%);
    border: none;
    background-color: #3483fa;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    padding: 6px 36px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}